.footerText {
    /* margin-left: 332px; */
    margin-top: -10px;
}

.footerspiski {
    display: flex;
    justify-content: space-around;
    padding: 66px 0 0 0;
    color: #DADBDD;
}

.footerspiski ul {
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    color: #DADBDD;
}

.footerspiski li {
    margin-bottom: 15px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0%;

}

.footerText2 {
    margin-left: 423px;
    margin-top: 80px;
    letter-spacing: 0%;
    font-family: Roboto;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0%;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: #9CA5B0;
}

.footerSpisok1 {
    margin-top: 0px;
}

.footerSpisok2 {
    margin-top: 0px;
}

.buttonFooter1 {
    width: 103px;
    height: 40px;
    border-radius: 24px;
    border-width: 1px;
    background: #FFFFFF;
    color: #1B365D;
}

.buttonFooter2 {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border-width: 1px;
    background: #272E38;
    border: 1px solid #3D434C;
    color: #FFFFFF;
    margin-top: 52px;
    font-family: Roboto;
    font-weight: 400px;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: center;
}

footer {
    position: relative;
    background-color: #272E38;
    width: 100%;
    height: 100%;
    /* width: 100; */
    height: 617px;
}