.form_click {
    width: 436px;
    height: 325px;
    border: 2px solid;
    border-color: #1B365D;
    padding: 15px;
    border-radius: 30px;
    background-color: white;
    margin: auto;
    color: #1B365D;
}

.input-area {
    height: 35px;
    border-radius: 14px;
    border: 1px solid;
    width: 100%;
    margin-bottom: 15px;
    border-color: #1B365D;
}

.form_button {
    height: 35px;
    border-radius: 14px;
    border: 1px solid;
    margin-bottom: 10px;
    background-color: #D0E7EA;
    color: #1B365D;
    border-color: #D0E7EA;
}

.form_buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.form_name {
    text-align: center;
    font-weight: normal;
}

.off1 {
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: .2s;
    transform: scale(0);
}
.backdrop.activ{
    transform: scale(1);
}
