.Sec7fon1{
    position: relative;
 }
 .Sec7fon2{
    position: absolute;
    width: 100%;
 }
 .Sec7fon{
    margin-top:-5px;
    margin-bottom: -6px;
 }
.card-container2{
    display: flex;
    justify-content: space-between;
    width: 1264px;
    height: 606px;
    align-items: center;
    margin-left: 88px;
}
.section7Text1_1{
    font-family: Roboto;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 0%;
    color: #1B365D;
    margin-left: 88px;
    margin-bottom: 27px;
}
.section7Text2{
position: absolute;
margin-left: 188px;
font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 22px;
letter-spacing: 0%;
color: #1B365D;
margin-top:-67px;
}
.fon7{
    margin-left: 88px;
}
.section7Text2_1{
    margin-bottom: -14px;
}
.card2 {
    background-color: #FFFFFF;
    width: 304px;
    height: 513px;
}
.card2_1{
    width: 193;
height: 220;
margin-top: 20px;
margin-left: 56px;
}
.card2Text{
    /* margin-top: 327px;
    margin-left: 84px; */
    color: #434140;
    ;
    font-family: Roboto;
    text-align: center;
    font-family: Roboto;
font-weight: 400;
font-size: 15px;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
    }
.BuyNow{
width: 108px;
height: 46px;
border-radius: 24px;
border-width: 1px;
background: #1877F2;
border-color: #1877F2;
color: #FFFFFF;
}
.card2Text a{
 color: #1B365D;
}
.CPbut{
width: 193px;
height: 46px;
border-radius: 24px;
border-width: 1px;
border: 1px solid #FFFFFF;
margin-top: -7px;
margin-left: 610px;
background: #FFFFFF;
font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
color: #1B365D;
}
.cardPortal{
    display: flex;
    justify-content: space-between;
    margin: 32px 18px 0 18px;
    font-family: Roboto;
font-weight: 400;
font-size: 20px;
line-height: 26px;
letter-spacing: 0%;
color: #1B365D;
}