.section7Text {
    position: relative;
    z-index: 2;
}

.section6 {
    position: relative;
    width: 100%;
}

.section7Text1_1 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 0%;
    color: #1B365D;
    margin-left: 88px;
    margin-bottom: 27px;
}

.section7Text2 {
    position: absolute;
    margin-left: 188px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #1B365D;
    margin-top: -67px;
}

.fon7 {
    margin-left: 88px;
}

.section7Text2_1 {
    margin-bottom: -14px;
}

.section6Foto {
    display: flex;
    margin-left: 88px;
    margin-right: 88px;
    margin-top: 100px;
    height: 622px;
    position: relative;
    z-index: 2;
}

.blueFonS4 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.section6Text1 {
    position: absolute;
    margin-top: 25px;
    margin-left: 32px;
}

.section6Text1 a {
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #1B365D;
}

.section6Text2 {
    position: absolute;
    margin-top: 25px;
    margin-left: 32px;
}

.section6Text2 a {
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.section6Text1_1 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0%;
    color: #1B365D;
}

.section6Text1_2 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #434140;
    margin-top: -20px;
    margin-bottom: 33px;
}

.section6Foto2 {
    margin-left: 20px;
}

.section6Text2_1 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.section6Text2_2 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin-top: -20px;
}